dist/build/autogen/Paths_Privateer.hs
dist/build/autogen/cabal_macros.h
dist/build/privateer-analyze/privateer-analyze
dist/build/privateer-analyze/privateer-analyze-tmp/Common.hi
dist/build/privateer-analyze/privateer-analyze-tmp/Common.o
dist/build/privateer-analyze/privateer-analyze-tmp/Main.hi
dist/build/privateer-analyze/privateer-analyze-tmp/Main.o
dist/build/privateer-analyze/privateer-analyze-tmp/SizeAnalysis.hi
dist/build/privateer-analyze/privateer-analyze-tmp/SizeAnalysis.o
dist/setup-config
dist/build/autogen/Paths_Privateer.hs
dist/build/autogen/cabal_macros.h
dist/build/privateer-analyze/privateer-analyze
dist/build/privateer-analyze/privateer-analyze-tmp/Common.hi
dist/build/privateer-analyze/privateer-analyze-tmp/Common.o
dist/build/privateer-analyze/privateer-analyze-tmp/Main.hi
dist/build/privateer-analyze/privateer-analyze-tmp/Main.o
dist/build/privateer-analyze/privateer-analyze-tmp/SizeAnalysis.hi
dist/build/privateer-analyze/privateer-analyze-tmp/SizeAnalysis.o
dist/setup-config
tests/.DS_Store
tests/sources/.DS_Store
tests/sources/source1.c-analyze
tests/sources/source1.c-analyze.c